@using System.Linq;
@model dynamic
@{
    Layout = null;
    ViewData["Title"] = "Vijesti";

}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>GOGI 1937</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: TheEvent - v4.10.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center ">
        <div class="container-fluid container-xxl d-flex align-items-center">

            <div id="logo" class="me-auto" style="width:200px;">
                <!-- Uncomment below if you prefer to use a text logo -->
                <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
                <a href="#" class="scrollto"><img src="~/assets/img/logo1.png" alt="" title=""><b>GOGI 1937</b></a>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active"  asp-action="Index">Početna</a></li>


                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            <a class="buy-tickets scrollto" asp-area="Identity" asp-page="/Account/Login">PRIJAVA</a>

        </div>
    </header><!-- End Header -->

    <main id="main">

        <section id="subscribe">
            <div class="container" data-aos="zoom-in">
                <div class="section-header">
                    <h2>VIJESTI</h2>
                    <p>Pregled svih vijesti.</p>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="100">

                    @foreach (Vijesti vijesti in Model.Vijesti)
                    {

                            <div class="col-lg-4 col-md-6" >
                                <a asp-action="Detalji" asp-route-id="@vijesti.Id">
                                    <div class="hotel" style="background-color:white;">
                                        <div class="hotel-img" style="height:200px;">
                                            <img src="~/@vijesti.Baner" class="img-fluid">
                                        </div>
                                        <h3><a asp-action="Detalji" asp-route-id="@vijesti.Id">@vijesti.Naslov</a></h3>
                                        <div class="stars" style="background-color:white;">
                                            <i style="color:#f82249;" class="bi bi-calendar-fill"></i>  <span style="font-size:10px;">@vijesti.CreatedAt.ToShortDateString()</span>
                                        </div>
                                        <a asp-action="Detalji" asp-route-id="@vijesti.Id">   <p style="text-transform:none; color:black">Pročitaj više >>></p></a>
                                    </div>
                                </a>

                            </div>
                    }



                </div>

            </div>


        </section><!-- End Subscribe Section -->
      
    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
       <!-- <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img style="width:200px; height:150px;" src="assets/img/logo1.png" alt="TheEvenet">
                        <p>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Brzi linkovi</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#hero">Početna</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#about">O nama</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#subscribe">Vijesti</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#gallery">Galerija</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#supporters">Sponzori</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Naš tim</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="#buy-tickets">Trener</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#speakers">Članovi</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#faq">Upoznajte nas</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#venue">Lokacija</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="#contact">Kontakt</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Kontaktirajte nas</h4>
                        <p>
                            Bihać, 77000 <br>
                            Unsko - sanski kanton<br>
                            Bosna i Hercegovina <br>
                            <strong>Telefon:</strong> +387 (0)65-360-400<br>
                            <strong>E-mail:</strong> piralic_goran@hotmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>-->

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Geosoft - studio</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
                -->
                Designed by <a href="">Sabina Mulić</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>